header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.441), rgba(0, 0, 0, 0.458)), url("./images/hero_1.jpg.webp")center/cover;
  height: 100vh;
}

.container {
  width: 72vw;
  margin: auto;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

nav a {
  color: #ffffffb3;
  transition: .3s;
  font: 400 1rem "Rubik";
  text-transform: capitalize;
  position: relative;
}

/*DROPDOWN*/
.dropdown {
  display: none;
  position: absolute;
  padding-top: 15px;
}

.dropdown-links {
  display: block;
  border-top: 2px solid #00bbff;
}

.dropdown-link:hover .dropdown {
  display: block;
}

.dropdown a {
  display: block;
  background-color: #fff;
  color: black;
  padding: 15px 20px;
  width: 200px;
}

.dropdown a:hover {
  background-color: #e3e3e3;
  color: black;
}

/*DROPDOWN*/
.logo-link {
  text-transform: uppercase;
  font: 900 30px "Rubik";
  color: #fff;
}

nav a:hover {
  color: #fff;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}

/*HEADER MAIN TEXTS AND BUTTON*/
.header-content-div {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 82vh;
  gap: 50px;
}

.header-content-div h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font: 900 3rem "Rubik";
}

.link-getintouch {
  display: inline-block;
  background-color: #007fad;
  line-height: 1.5;
  border-radius: 30px;
  padding: 13px 32px;
  color: white;
  text-transform: capitalize;
  font: 16px "Rubik";
  transition: .3s;
  &:hover{
    background-color: black;
  }
}

/*SECTION2 STYLES*/
.section2-bg-div {
  height: 100vh;
  display: flex;
}

.section2-bg-div .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 75px;
}

.section2-bg-div h2,
.title-div h2,
.section4-bg-div .title-and-links-div,
.section5-bg-div .container h2,
.section6-bg-div .container h2,
.section7-bg-div .container h2,
.section8-bg-div .container h2,
.section10-bg-div .container h2,
.section11-bg-div .container h2 {
  text-transform: capitalize;
  font: 900 40px "Rubik";
  color: #018cbe;
  text-align: center;
}

.section2-img-content-div img {
  height: 400px;
  border-radius: 10px;
}

.section2-img-content-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section2-content-div {
  max-width: 450px;
}

.section2-content-div h3 {
  font: 350 28px "Rubik";
}

.section2-content-div p {
  font: 350 1rem "Rubik";
  color: gray;
  line-height: 1.7;
  margin: 1.5rem 0;
  word-spacing: 2px;
}

.section2-content-div ul li {
  font: 350 1rem "Rubik";
  color: gray;
  line-height: 2.5;
}

.section2-content-div a {
  margin: 40px 0 0 0;
}

.fa-check {
  padding-right: 10px;
  font-size: 14px;
  color: rgb(0, 163, 30);
}

/*SECTION 3 STYLES*/

.section3-bg-div {
  height: 130vh;
}

.section3-bg-div .container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.title-div {
  padding-top: 60px;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

.title-div p {
  font: 335 20px "Rubik";
  line-height: 1.7;
  color: gray;
  margin-top: 15px;
}

.person-div img {
  width: 250px;
}
.person-div {
  position: relative;
  height: 250px;
  overflow: hidden;
  &:hover .section3-social-icons-div{
    left:0px;
  }
}
.people-div {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 35px;
}
.section3-social-icons-div i{
  color: white;
  margin: 13px 10px;
}
.section3-social-icons-div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  left:-36px;
  height: 100%;
  background-color:#0087b8;
  overflow: hidden;
  transition: 0.3s;
}
.person-div h3 {
  font: 400 20px "Rubik";
  padding: 15px 0 15px 15px;
  text-transform: capitalize;
}

.person-div h4 {
  padding-left: 15px;
  font: 350 13px "Rubik";
  text-transform: uppercase;
  color: #b0b0b0;
}

/*SECTION 4 STYLES*/
.section4-bg-div {
  height: 185vh;
}

.section4-bg-div img {
  width: 260px;
}

.section4-products-div {
  height: 150vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 21px;
  overflow: hidden;
}

.section4-links-div a,
.section7-card-div a {
  display: inline-block;
  background-color: #f1f1f1;
  line-height: 1.5;
  border-radius: 30px;
  padding: 10px 20px;
  color: #3e3e3e;
  text-transform: capitalize;
  font: 350 14px "Rubik";
  transition: .4s;
}

.section4-links-div a:hover,
.section7-card-div a:hover {
  background-color: #007fad;
  color: #ffffff;
}

.section4-links-div {
  display: inline-block;
  padding: 30px 0 45px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.section4-products-div .icon-div{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #00000078;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  transition: .3s ease-in-out;
}
.section4-products-div .icon-div i{
  color: white;
}
.section4-products-div .image-div{
  cursor: pointer;
  position: relative;
  height: fit-content;
  width: fit-content;
  &:hover .icon-div{
    opacity: 1;
  }
}
/*SECTION 5 STYLES*/

.section5-bg-div {
  height: 100vh;
  background: #f8f8f8;
  display: flex;
  align-items: center;
}

.section5-bg-div .container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
}

.section5-cards-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
}

.section5-card-div {
  max-width: 31%;
}

.section5-card-div h3 {
  font: 370 20px "Rubik";
}

.section5-card-div p {
  font: 370 16px "Rubik";
  color: gray;
  line-height: 28px;
  padding: 10px 0 15px 0;
}

.section5-card-div a {
  color: #018cbe;
  font: 360 16px "Rubik";
  text-transform: capitalize;
  line-height: 28px;
}

.section5-card-div i {
  font-size: 60px;
  padding: 15px 0;
  color: #018cbe;
}

/*SECTION 6 STYLES*/
.section6-bg-div {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section6-bg-div .container {
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
}

.profile-name-div {
  display: flex;
  align-items: center;
  width: 190px;
  justify-content: space-between;
}

.profile-name-div img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name-div h6 {
  font: 400 16px "Rubik";
  color: gray;
  text-transform: capitalize;
}

.section6-bg-div .container p {
  font: italic 24px "Rubik";
  max-width: 775px;
  color: #3e3e3e9e;
  text-align: center;
  line-height: 34px;
}

/*SECTION 7 STYLES*/
.section7-bg-div {
  background: #f6f6f6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section7-bg-div .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.section7-cards-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section7-card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding:40px;
  background-color: white;
  box-shadow: 0 0 50px -40px;
  border-radius: 15px;
}
.section7-cards-div h3{
  font: 370 28px "Work Sans";
  text-transform: capitalize;
  text-align: center;
}
.section7-cards-div p{
  font: 380 48px "Work Sans";
  text-align: center;
  color:#007fad;
  padding: 20px 0;
}
.section7-cards-div span{
  font: 400 16px "Work Sans"; 
  color: #33333375;
}
.section7-cards-div li{
  font: 400 16px "Work Sans";
  color: #737373;
  padding: 10px 0;
  line-height: 1.5;
}
.section7-cards-div a{
  margin-top: 25px;
  padding: 12px 40px;
}
.section7-line-through-li{
  text-decoration:line-through;
  opacity: 0.5;
}
.section7-line-through-li i{
  color: gray;
}


/*SECTION 8 STYLES*/
.section8-bg-div {
  background: #f6f6f6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section8-bg-div .container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.faq-div {
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.section8-bg-div .container .question-div {
  max-width: 520px;
}

.section8-bg-div .container .question-div p {
  font: 350 16px "Rubik";
  color: gray;
  line-height: 28px;
}

.section8-bg-div .container .question-div h3 {
  margin-bottom: 20px;
  font: 450 20px "Rubik";
  line-height: 1.2;
}

/*SECTION 9 STYLES*/
.section9-bg-div {
  height: 100vh;
  display: flex;
  align-items: center;
}

.section9-bg-div .container {
  display: flex;
  justify-content: space-between;
}

.section9-cards-div {
  display: flex;
  gap: 25px;
}

.section9-bg-div img {
  height: 400px;
}

.section9-bg-div i {
  font-size: 40px;
  color: #007fad;
  margin-bottom: 30px;
}

.section9-card-div h4 {
  font: 380 20px "Rubik";
  line-height: 1.2;
}

.section9-card-div p {
  font: 350 16px "Rubik";
  color: gray;
  line-height: 1.7;
  margin: 15px 0 20px 0;
}

.section9-card-div a {
  font: 350 16px "Rubik";
  text-transform: capitalize;
  color: #007fad;
}

/*SECTION 10 STYLES*/
.section10-bg-div {
  height: 100vh;
  display: flex;
  align-items: center;
}

.section10-bg-div .container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
}

.section10-bg-div .container img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.section10-cards-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section10-card-div h3 {
  max-width: 300px;
  font: 350 20px "Rubik";
  line-height: 1.2;
  text-transform: capitalize;
  margin: 20px 0 10px 0;
}

.section10-card-div h4 {
  font: 350 14px "Rubik";
  line-height: 1.2;
  color: rgba(128, 128, 128, 0.675);
  text-transform: capitalize;
}

.section10-card-div p {
  max-width: 320px;
  font: 350 16px "Rubik";
  line-height: 28px;
  color: rgb(128, 128, 128);
  margin: 20px 0 10px 0;
}

.section10-card-div a {
  max-width: 320px;
  font: 350 16px "Rubik";
  line-height: 28px;
  color: #0087b8;
  text-transform: capitalize;
}

/*SECTION 11 STYLES*/
.section11-bg-div {
  height: 170vh;
  background: #f1f1f1;
  display: flex;
  align-items: center;
}

.section11-bg-div .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.section11-bg-div form {
  border-radius: 20px;
  padding: 60px 45px;
  background: #fff;
}

address {
  display: flex;
  justify-content: start;
  gap: 150px;
}

.section11-bg-div form label {
  text-transform: capitalize;
  width: 100%;
  font: 350 16px "Rubik";
  line-height: 28px;
}

.section11-bg-div form input {
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 30px;
  border: 1px solid rgba(128, 128, 128, 0.37);
  margin: 10px 0 20px 0;
  outline-color: #01a3de;
  outline-width:thin;
}

.section11-bg-div form .inputs-div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.section11-bg-div form h3 {
  margin-bottom: 45px;
  font: 400 24px "Rubik";
}

.section11-bg-div form a {
  display: inline-block;
  background-color: #018cbe;
  line-height: 1.5;
  border-radius: 30px;
  padding: 15px 35px;
  color: #fff;
  text-transform: capitalize;
  font: 350 16px "Rubik";
  transition: .4s;
}

.message-input {
  height: 200px;
}

::placeholder {
  font: 400 16px "Rubik";
}

.section11-bg-div i {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #007fad;
}

.section11-bg-div .address-div a {
  display: inline-block;
  color: #007fad;
  margin: 10px;
  text-align: center;
  font: 16px "Rubik";
}

/*FOOTER STYLES*/
footer {
  background: #333333;
  height: 83vh;
  display: flex;
  align-items: center;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-columns-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-column-div {
  max-width: 33%;
}

footer h5 {
  color: #fff;
  font: 16px "Roboto";
  text-transform: capitalize;
  margin-bottom: 24px;
}

.footer-column-div p {
  font: 350 16px "Rubik";
  line-height: 28px;
  margin-top: -8px;
  color: #737373;
}

.footer-column-div ul a {
  font: 350 16px "Rubik";
  line-height: 36px;
  color: #959595;
  text-transform: capitalize;
  transition: .4s;
}

.footer-column-div ul a:hover {
  color: #fff;
}

.footer-column-div ul {
  margin-top: -12px;
}

.footer-column-div a {
  font-size: 16px;
  color: #959595;
  transition: .4s;
}

.footer-column-div a:hover {
  color: #fff;
}

footer input {
  outline: none;
  border-radius: 30px 0 0 30px;
  margin: 0;
  border: 1px solid #737373;
  background: transparent;
  width: 60%;
  padding: 10px;
}

footer input::placeholder {
  text-transform: capitalize;
  font: 16px "Rubik";
}

footer button {
  border-radius: 0 20px 20px 0;
  margin-left: -4px;
  background-color: white;
  border: none;
  font: 16px "Rubik";
  text-transform: capitalize;
  width: 40%;
  padding: 10px;
}

.social-icons-div {
  display: flex;
  gap: 40px;
}

.input-button-div {
  display: flex;
}

hr {
  margin: 120px 0 60px 0;
  width: 100%;
  border-color: #73737346;
}

footer h6 {
  color: #848484;
  font: 16px "Rubik";
}

footer h6 a {
  transition: .4s;
  color: #737373;
  font-weight: 600;
}

footer h6 a:hover {
  color: white;
}